@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body { height: 100%; margin: 0; padding: 0; color: white; font-family: 'Roboto', sans-serif;}

aside{
	overflow-y: scroll;
	width: 0px;
	height: 100%;
	background-color: #444;
	float:left;
	transition: width 1s;
	padding: 5px;
}
aside #search-box{
	margin-top: 20px;
	display: flex;
}

aside #search-text{
	width: 220px;
	font-size: 25px;
}
aside #search-btn{
	flex-grow: 1;
	font-size: 25px;
}
aside.shown {
	width: 300px;
}

@media (min-width: 700px) {
	aside {
		width: 300px;
	}
	aside.shown {
	width: 0px;
}

}
main{
	height: 100%;
	vertical-align: top;
	margin: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
header {
	height: 60px;
	background-color: #333;
	vertical-align: center;
}
header *{
	display: inline-block;
	height: 60px;
	margin: 0;
	vertical-align: top;
}
header h2{
	font-size: 30px;
	line-height: 30px;
	padding: 15px;
}
header #showSidebar{
	width: 60px;
}
header #showSidebar img{
	width: 30px;
	height: 30px;
	padding: 15px;
}
#map { 
	flex-grow: 1;
}
.locationList{
	list-style: none;
	padding: 0;
}
.locationItem{
	padding: 10px;
	border: 1px #333 solid;
	margin:0;
}